<ion-header>
  <myHeader></myHeader>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="{{userAvatar}}" *ngIf="user.avatar">
        <ion-icon id="iconAvatar" name="contact" *ngIf="!user.avatar"></ion-icon>
      </ion-avatar>
      <h2>
        <strong>{{user.first_name}} {{user.last_name}}</strong>
      </h2>
      <h3>{{user.company_job}}</h3>
      <h3>{{user.company_name}}</h3>
      <h4>{{user.phone}}</h4>
      <h4>{{user.email}}</h4>
    </ion-item>
    <ion-card-content>
      <p>Adresse: {{user.company_address}}</p>
      <p>Description: {{user.description}}</p>
      <h6>Effectif: {{user.num_employee}}</h6>
      <h6>C.A.: {{user.company_business_revenue}} €</h6>
      <p>Région CJD: {{user.region}}</p>
      <p>Section CJD: {{user.section}}</p>
      <h3>Equipe bureau: {{user.officeTeam}}</h3>
      <h3>Rôle au CJD: {{user.Type_user.type}}</h3>
      <h4>
        <em>Rôle extérieur: {{user.other_function}}</em>
      </h4>
      <h5>
        <em>Commission: {{user.contribution}} €</em>
      </h5>
      <h6>
        <em>Points: {{user.points}}</em>
      </h6>
      <h6>
        <em>Loisirs: {{user.hobby}}</em>
      </h6>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col text-center>
      <button small ion-button icon-start (click)="registerUser()">
        <ion-icon name="contacts"></ion-icon>
        Ajouter à mes contacts
      </button>
    </ion-col>
  </ion-row>
</ion-content>
